.notecontent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header-content {
  display: flex;
  gap: 1rem;
  font-size: 0.7rem;
  height: 1.2rem;
  margin-left: 0.6rem;
}

.input-area {
  display: flex;
  flex: 1;
}

.input-area textarea {
  flex: 1;
  height: 100%;
  outline: none;
  color: var(--text-color);
  background-color: #282828;
  border: none;
  resize: none;
}
