.context-menu {
  padding: 0.4rem;
  border-radius: 10px;
  background-color: #1b244b;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.container li {
  color: white;
  padding: 0.2rem 0.4rem;
  border-radius: 5px;
  font-size: 0.9rem;
}

.container li:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
