.Window {
  position: absolute;
  width: 700px;
  height: 400px;
  background: var(--bg-color);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.Window.maximized {
  top: 0 !important;
  left: 0 !important;
  transform: none !important;
  width: 100vw !important;
  height: 100vh !important;
  border-radius: 0;
}

.Window.minimized {
  display: none;
}

.window-content {
  width: 100%;
  height: calc(100% - 31.6px);
  scroll-behavior: auto;
  background: var(--bg-color);
}

.window-content h1 {
  color: var(--text-color);
}
